<div class="d-flex flex-column evenly" style=" background-color: #e6ebf2; min-height: 100vh; object-fit: contain;">
  <div class="d-flex justify-content-center" style="position: relative;">
    <img class="uea-logo" src="../../assets/uea-logo.png" alt="">
  </div>
  <div>
    <div class="body-fetch d-flex justify-content-center align-items-center" style=" background-color: #e6ebf2; justify-content: space-evenly !important;">
      <div class="card item shadow" style="width: 28rem; height: max-content; cursor: pointer" (click)="select('sgf')">
        <div class="card-body" >
          <div class="logo-login mb-4"></div>
    
          <div class="info mb-3 d-flex justify-content-center  align-items-center" style="flex-direction: column;">
            <i class="material-icons mb-2" style="font-size: 4em;">
              SGF
            </i>
            <div style=" border-top: 1px solid rgba(77, 77, 77, 0.37); padding-top: 1rem;">
              <span style="float: left; font-size: 14px;">Sistema de Gerenciamento de Faturas</span>
            </div>
          </div>
    
        </div>
      </div>
      <div class="card item shadow" style="width: 28rem; height: max-content; cursor: pointer "  (click)="select('sgo')">
        <div class="card-body">
          <div class="logo-login mb-4"></div>
    
          <div class="info mb-3 d-flex justify-content-center  align-items-center" style="flex-direction: column;">
            <i class="material-icons mb-2" style="font-size: 4em;">
              SGO
            </i>
            <div style=" border-top: 1px solid rgba(77, 77, 77, 0.37); padding-top: 1rem;">
              <span style="float: left; font-size: 14px;">Sistema de Gerenciamento Operacional</span>
            </div>
          </div>
    
        </div>
      </div>
    </div>

  </div>
</div>

